
.cardParent{
    display: flex;
    width: 350px;
    align-items: center;
   gap: 20px;
}

.container{
    display: flex;

}









.card-container {
    display: flex;
    flex-direction: row;
    background-color: #f9c0d8; /* Light pink */
    border: 2px solid purple;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  
  
  .card-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-name {
    font-size: 1.5em;
    margin: 0;
    color: purple;
  }
  
  .card-profession {
    font-size: 1.2em;
    color: #7a4e7a;
    margin: 5px 0;
  }
  
  .card-description {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-button {
    padding: 10px 20px;
    background-color: #b19cd9; /* Light purple */
    border: 2px solid purple;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  
  .card-button:hover {
    background-color: purple;
  }
  